<!doctype html>
<html lang="en">
  <head>
    <title>Item Search</title>
    <meta charset="utf-8" />
    {% load static %}
    <link href={% static "login.css" %} rel="stylesheet">
  </head>

  <body>
    <nav class="navbar">
        <div class="nav">
          <h1 class="web-name">Last List</h1> 
      <a class="navbar-brand" href={% url "lastlistweb:signin" %}>Profile</a>
      <a class="navbar-brand" href={% url "lastlistweb:lists" %}>Lists</a>
      <a class="navbar-brand" href={% url "lastlistweb:items" %}>Items</a>
      <a class="navbar-brand" href={% url "lastlistweb:vendors" %}>Vendors</a>
        </div>
    </nav>
    <h1>Item Search</h1>

    <div id="search">
      <div id="search-bar">
        <form id="item-search-form" action={% url "lastlistweb:items" %} method="POST">
          {% csrf_token %}
          <form>
            <input type="text" name="search" placeholder="Enter search term" />
            <button type="submit">Search</button>
          </form>
        </form>
      </div>

      {% if items %}
        <div id="results">
          <table id="results-table">
            <caption>
              A table displaying all items that match the search term.
            </caption>
            <thead>
              <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Recorded Price</th>
              </tr>
            </thead>

            {% for i in items %}
            <tbody>
              <!-- Dynamically render rows based on information pulled from database -->
              <tr>
                <td><a class="nav-link" href={% url "lastlistweb:itemid" i.item_id %}>{{ i.product.name }}</a></td>
                <td><p class="list-element">{{ i.product.brand }}</p></td>
                <td><p class="list-element">{{ i.price.price }}</p></td>
                <td><p class="list-element">{{ i.price.date_recorded }}</p></td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      {% endif %}
      {% if messages %}
      <div id="error">
        {% for m in messages %}
        <p class="error-message"> {{m}} </p>
        {% endfor %}
      </div>
      {% endif %}
      <!-- Add pagination if time permits -->
    </div>
  </body>
</html>
