<!doctype html>

<html lang="en">
  <head>
    <title>List View</title>
    <meta charset="utf-8" />
  </head>

  <body>
    <h1>List View</h1>

    <div id="lists">
      <table id="lists-table">
        <caption>
          A table displaying all lists that a user has created.
        </caption>
        <thead>
          <tr>
            <th> Name </th>
            <th>Date Created</th>
          </tr>
        </thead>
        {% for list in lists %}
        <tbody>
          <!-- Dynamically render rows based on information pulled from database -->
          <tr>
            <td>{{ list.name }}</td>
            <td>{{ list.date_created }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      <!-- Add pagination features if time permits -->
    </div>
  </body>
</html>
