<!doctype html>

<html lang="en">
  <head>
    <title>List View</title>
    <meta charset="utf-8" />
    {% load static %}
    <link href={% static "login.css" %} rel="stylesheet"> 
  </head>

  <body>
    <nav class="navbar">
        <div class="nav">
          <h1 class="web-name">Last List</h1> 
      <a class="navbar-brand" href={% url "lastlistweb:signin" %}>Profile</a>
      <a class="navbar-brand" href={% url "lastlistweb:lists" %}>Lists</a>
      <a class="navbar-brand" href={% url "lastlistweb:items" %}>Items</a>
      <a class="navbar-brand" href={% url "lastlistweb:vendors" %}>Vendors</a>
        </div>
    </nav>
    <h1>List View</h1>

    <div id="lists">
      <div id="new-list">
        <form id="new-list-name" action={% url "lastlistweb:lists" %} method="POST">
          {% csrf_token %}
          <form>
            <input type="text" name="list_name" placeholder="Create a new list..." />
            <button type="submit"> Create </button>
          </form>
        </form>
      </div>
      <table id="lists-table">
        <caption>
          A table displaying all lists that a user has created.
        </caption>
        <thead>
          <tr>
            <th> Name </th>
            <th>Date Created</th>
          </tr>
        </thead>
        {% for list in lists %}
        <tbody>
          <!-- Dynamically render rows based on information pulled from database -->
          <tr>
            <td><a class="nav-link" href={% url "lastlistweb:listid" list.list_id %}>{{ list.name }}</a></td>
            <td><p class="list-element">{{ list.date_created }}</p</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      {% if messages %}
      <div id="error">
        {% for m in messages %}
        <p class="error-message"> {{m}} </p>
        {% endfor %}
      </div>
      {% endif %}
      <!-- Add pagination features if time permits -->
    </div>
  </body>
</html>
