<!doctype html>

<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

  <body>
    {% if user.is_authenticated %}
    <nav class="navbar">
      <a class="navbar-brand" href={% url "lastlistweb:signin" %}>Profile</a>
      <a class="navbar-brand" href={% url "lastlistweb:lists" %}>Lists</a>
      <a class="navbar-brand" href={% url "lastlistweb:items" %}>Items</a>
      <a class="navbar-brand" href={% url "lastlistweb:vendors" %}>Vendors</a>
    </nav>
      <h1> Welcome, {{ user.first_name }}</h1>
      <button type="submit" id="signout-button" onclick="location.href='/signout'">
        Sign Out
      </button><br/>
          {% else %}
    <h1>Last List Login</h1>
    <div id="login">
      <div id="text-entries">
        <form id="login-form" action={% url "lastlistweb:signin" %} method="POST">
          {% csrf_token %}
          <form>
            <input type="text" name="username" placeholder="username" /><br/>
            <input type="password" name="password" placeholder="password" /><br/>

            <button type="submit">Login</button>
          </form>
        </form>
      </div><br/>
      <button
        type="submit"
        id="signup-button"
        onclick="window.location.href='/signup'"
      >
        Sign Up
      </button>
    {% endif %}
    {% if messages %}
    <div id="error">
      {% for m in messages %}
      <p class="error-message"> {{m}} </p>
      {% endfor %}
    </div>
    {% endif %}
    </div>
  </body>
</html>
