<!doctype html>
<html lang="en">
  <head>
    <title>Inspect List</title>
    <meta charset="utf-8" />
    {% load static %}
    <link href={% static "login.css" %} rel="stylesheet">
  </head>

  <body>
    <nav class="navbar">
        <div class="nav">
          <h1 class="web-name">Last List</h1> 
      <a class="navbar-brand" href={% url "lastlistweb:signin" %}>Profile</a>
      <a class="navbar-brand" href={% url "lastlistweb:lists" %}>Lists</a>
      <a class="navbar-brand" href={% url "lastlistweb:items" %}>Items</a>
      <a class="navbar-brand" href={% url "lastlistweb:vendors" %}>Vendors</a>
        </div>
    </nav>
    <h1>Inspect List</h1>

    <div id="items">
      {% if items %}
      <table id="items-table">
        <caption>
          A table displaying all items that a user has placed into the given
          list.
        </caption>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Brand</th>
            <th>Product Size</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Date Recorded</th>
          </tr>
        </thead>
        {% for i in items %}
        <tbody>
          <!-- Dynamically render rows based on information pulled from database -->
          <tr>
            <td><p class="list-element">{{i.item.product.name}}</p></td>
            <td><p class="list-element">{{i.item.product.brand}}</p></td>
            <td><p class="list-element">{{i.item.quantity.measurement}} {{i.item.quantity.unit}}</p></td>
            <td><p class="list-element">{{i.item.quantity.count}}</p></td>
            <td><p class="list-element">{{i.item.price.price}}</p></td>
            <td><p class="list-element">{{i.item.price.date_recorded}}</p></td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      {% else %}
      <p class="list-element">Hmm... This list is looking pretty empty</p>
      {% endif %}
      <!-- Add pagination if time permits -->
    </div>
    {% if messages %}
    <div id="error">
      {% for m in messages %}
      <p class="error-message"> {{m}} </p>
      {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
