<!doctype html>
<html lang="en">
  <head>
    <title>Inspect List</title>
    <meta charset="utf-8" />
  </head>

  <body>
    <h1>Inspect List</h1>

    <div id="items">
      {% if items %}
      <table id="items-table">
        <caption>
          A table displaying all items that a user has placed into the given
          list.
        </caption>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Brand</th>
            <th>Product Size</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Unit Price</th>
            <th>Date Recorded</th>
          </tr>
        </thead>
        {% for i in items %}
        <tbody>
          <!-- Dynamically render rows based on information pulled from database -->
          <tr>
            <td>{{i.item.product.name}}</td>
            <td>{{i.item.product.brand}}</td>
            <td>{{i.item.quantity.measurement}} {{i.item.quantity.unit}}</td>
            <td>{{i.item.quantity.count}}</td>
            <td>{{i.item.price.price}}</td>
            <td>TBI</td>
            <td>{{i.item.price.date_recorded}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      {% else %}
        <p>Hmm... This list is looking pretty empty</p>
      {% endif %}
      <!-- Add pagination if time permits -->
    </div>
  </body>
</html>
